.product_info {
  padding: 100px 0 0 0;
}
.product_info .container {
  background: white;
  width: 60%;
  margin: auto;
  transition: 0.3s;
}
.product_info .container .items_control {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px 0;
}
.product_info .container .item_content {
  display: flex;
  flex-direction: column;
}
.product_info .container .item_content .twoColsContent {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}
.product_info .container .item_content .twoColsContent .left_part {
  width: 55%;
}
.product_info .container .item_content .twoColsContent .left_part .product_image {
  width: 100%;
}
.product_info .container .item_content .twoColsContent .left_part .item_imgs {
  height: 50px;
}
.product_info .container .item_content .twoColsContent .left_part .item_imgs .item_img {
  width: 50px;
  height: 50px;
}
.product_info .container .item_content .twoColsContent .right_part {
  width: 45%;
  padding-left: 20px;
}
.product_info .container .item_content .twoColsContent .right_part .sectionTitle {
  padding-top: 0;
}
.product_info .container .item_content .twoColsContent .right_part .cost {
  margin: 0 0 20px 0;
}
.product_info .container .item_content .twoColsContent .right_part .qty {
  border: 2px solid #0a331e;
  display: flex;
  width: 100px;
  gap: 0;
  margin: 5px 0 0 0;
}
.product_info .container .item_content .twoColsContent .right_part .qty input {
  width: 33%;
  border: none;
  text-align: center;
  height: 32px;
}
.product_info .container .item_content .twoColsContent .right_part .qty input:hover {
  border: none;
}
.product_info .container .item_content .twoColsContent .right_part .qty button {
  background: white;
  color: #06331c;
  padding: 7px 10px 7px 10px;
  width: 33%;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.product_info .container .item_content .twoColsContent .right_part .qty button span {
  display: inline-block;
  transform-origin: center;
  pointer-events: none;
}
.product_info .container .item_content .twoColsContent .right_part .qty .qty_minus span {
  transform: scale(3) translateY(-1px);
}
.product_info .container .item_content .twoColsContent .right_part .qty .qty_plus span {
  transform: scale(3);
}
.product_info .container .item_content .twoColsContent .right_part a.button_a {
  margin: 10px 0 10px 0;
  padding: 10px 5% 10px 5%;
  width: 100%;
  text-align: center;
}
.product_info .container .item_content .twoColsContent .right_part .accordions .accordion .accordion_toggle {
  background: white;
  color: #06331c;
  padding: 10px 0 10px 0;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}
.product_info .container .item_content .twoColsContent .right_part .accordions .accordion .accordion_toggle .sign {
  margin-left: auto;
  transform: scale(3);
}
.product_info .container .item_content .twoColsContent .right_part .accordions .accordion .accordion_panel p {
  font-size: 12px;
}
.product_info .container .item_content p.description {
  clear: both;
}

@media only all and (max-width: 790px) {
  .container {
    width: 90% !important;
  }
  .container .items_control {
    flex-direction: column-reverse;
  }
  .container .items_control .prev_next {
    text-align: right;
    margin-bottom: 30px;
  }
  .twoColsContent {
    flex-direction: column;
  }
  .twoColsContent .left_part {
    width: 100% !important;
  }
  .twoColsContent .right_part {
    width: 100% !important;
    padding-left: 0 !important;
  }
  .twoColsContent p.sectionTitle {
    padding-bottom: 5px;
  }
}
