.master_classes .container {
  margin: auto;
}
.master_classes .container .master_class_div {
  display: flex;
}
.master_classes .container .master_class_div .master_class_bg_image {
  flex: 1.6 1 0;
  background: url("./../imgs/master_class_background.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  display: block;
}
.master_classes .container .master_class_div .master_class_info {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.master_classes .container .master_class_div .master_class_info a:not(.button_a):hover {
  opacity: 0.7;
}
.master_classes .container .master_class_div .master_class_info a.button_a {
  text-transform: none;
  font-size: 16px;
  padding: 10px 1.5em 10px 1.5em;
}
