.master_classes {
  padding: 100px 0 0 0;
  background: transparent;
}
.master_classes .container {
  width: 60%;
  transition: 0.3s;
}
.master_classes .container p.with_margin {
  margin: 0 0 25px 50px;
}
.master_classes .container p.subtitle::after {
  margin-top: 20px;
}
.master_classes .container .subSectionTitle {
  font-size: 22px;
  text-align: center;
  margin: 30px 0 30px 0;
}
.master_classes .container .master_class_div {
  margin: 50px auto auto;
  height: 300px;
  grid-template-columns: 1fr 1fr;
}
.master_classes .container .master_class_div .master_class_info {
  margin: 0 0 0 50px;
  align-items: flex-start;
}
.master_classes .container .master_class_div .master_class_info p {
  padding: 5px 0 5px 0;
}
.master_classes .container .master_class_div .master_class_info a.mc_name {
  font-size: 18px;
  margin: 0 0 10px 0;
}
.master_classes .container .master_class_div .master_class_info a.button_a {
  margin: 10px 0 0 0;
}
.master_classes .container .master_class_div .master_class_info a.button_a:hover {
  text-decoration: underline;
  background: #0a331e;
}

@media only all and (max-width: 900px) {
  .container {
    width: 90% !important;
  }
}
@media only all and (max-width: 600px) {
  .master_classes .container {
    width: 90%;
  }
  .master_classes .container p.subtitle {
    margin-left: 0;
  }
  .master_classes .container .master_class_div {
    flex-direction: column;
  }
  .master_classes .container .master_class_div .master_class_info {
    margin: 10px 0 0 0;
  }
}
