.shop .container {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}
.shop .container .subtitle .sectionTitle {
  align-self: flex-start;
  text-align: left;
}
.shop .container .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  align-items: start;
}
.shop .container .products .product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop .container .products .product .product_image {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  display: block;
  border-radius: 4px;
}
.shop .container .products .product .product_title {
  margin: 1em 0 0.5em 0;
}
.shop .container .products .product .product_price {
  font-size: 12px;
}
.shop .container a {
  align-self: center;
}
