.master_classes {
    .container {
        margin: auto;

        .master_class_div {
            display: grid;

            .master_class_bg_image {

                background: url("https://static.wixstatic.com/media/dae918_2b3d72c973fd4359ac82ab0e0fe38c6c~mv2_d_5281_3986_s_4_2.jpg/v1/fill/w_1080,h_806,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/dae918_2b3d72c973fd4359ac82ab0e0fe38c6c~mv2_d_5281_3986_s_4_2.jpg") no-repeat center;
                background-size: cover;

                width: 100%;
                height: 100%;
                //aspect-ratio: 3 / 4;
                object-position: center;
                display: block;
            }

            .master_class_info {
                display: flex;
                flex-direction: column;
                justify-content: center;


                a:not(.button_a):hover {opacity: 0.7}

                a.button_a {
                    text-transform: none;
                    font-size: 16px;
                    padding: 10px 1.5em 10px 1.5em;
                }
            }
        }
    }
}