@import "_variables";

.hero {
    transition: 0.5s;
    text-align: left;
    padding: 136px 0 300px 20vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;


    p.subInfo {
        position: relative;
        display: inline-block;
        color: $light_text_color;
        font-family: $cursive_text;
        font-style: italic;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0.02em;
        transition: 1s;

        &:after {
            content: "";
            display: block;
            width: 60px;
            height: 2px;
            background-color: white;
            margin-top: 8px;
        }
    }

    .bannerWords {
        font-family: $basic_text;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-size: 142px;
        color: $light_text_color;
        text-decoration: underline;
        text-transform: uppercase;
        transition: 0.1s;
        margin-bottom: 20px;
    }

}

.aboutUs {
    padding: 0 0 350px 0;

    .container {
        width: 60%;
        margin: auto;
    }
}

.shop {

    .container {

        p.subtitle {
            margin: 20px 0 0 10%;
        }

        p.sectionTitle {
            margin: 0 0 50px 10%;
        }

        .products {

            margin-bottom: 100px;

        }
    }
}

.master_classes {
    background: white;
    padding: 0 0 80px 0;
    .container {

        width: 60%;
        transition: 0.5s;
        .subtitle::after {
            content: none;
        }

        .master_class_div {
            width: 100%;
            border: $light_blue solid 3px;
            height: 400px;
            margin-top: 20px;

            .master_class_info {
                align-items: center;

                a { text-align: center; }

                a.button_a {
                    background: $light_green;
                }

                a.button_a:hover {text-decoration: underline}
            }
        }
    }
}


@media only all and (max-width: 790px) {
    .hero {
        padding-left: 10%;
        padding-right: 15%;

        .bannerWords {
            font-size: 92px !important;
        }
    }

    .shop p.subtitle, .shop p.sectionTitle { margin-left: 0 !important; }

    .aboutUs .container {
        width: 100%;
    }
    .master_classes .container {
        width: 95%;

        .master_class_div {
            flex-direction: column;

            a.button_a { margin-bottom: 20px;}
        }
    }
}

@media only all and (min-width: 790px) and (max-width: 1024px) {
    .master_classes .container {width: 80%;}
}

@media only all and (min-width: 1030px) {
    .shop .container .products {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }


}

@media only all and (min-width: 2000px) {
    .wrapper2 {
        .hero {
            padding-left: 0.23 * 1650px;
        }
    }
}